body {
	background: #00b09b;
  	background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
  	background: linear-gradient(to right, #00b09b, #96c93d);
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 350px;
	margin: 100px auto;
	box-shadow: 5px 5px 2px rgba(0,0,0, 0.3);
	background-color: #f7f7f7;
}

h1 {
	background-color: rgb(147,200,63);
	margin: 0;
	padding: 10px 20px;
	font-weight: normal;
	color: white;
	font-size: 24px;
}

.fa-plus-circle {
	float: right;
	color: white;
}

input {
	margin: 0;
	border: none;
	outline: none;
	background-color: #e7e7e7;
	height: 40px;
	width: 350px;
	font-size: 20px;
	color: #666;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 20px;
}

input:focus {
	border: 3px solid rgb(147,200,63);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	height: 40px;
	line-height: 40px;
	background-color: white;
	color: #666;
}

li:nth-child(2n) {
	background-color: #e7e7e7;
}

li:hover span {
	width: 40px;
	transition: 0.3s linear;
	opacity: 1.0;
}

.fa-trash {
	color: white;
}

span {
	width: 0px;
	height: 40px;
	text-align: center;
	display: inline-block;
	background-color: #e74c3c;
	margin-right: 20px;
	opacity: 0;
}

.completed {
	color: grey;
	text-decoration: line-through;
}